.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-item {
    color: ghostwhite;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 60px;
    padding-top: 10px;
    position: relative;
    width: 13vw;
    height: 100px;
}

.countdown-item span {
    color: ghostwhite;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}