@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background-image: radial-gradient(circle, #171424, black);
}
.skill-list > li{
  margin: 30px 0 0 0;
}
.has-bg-image {
  background-image: url(./bg.JPG);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bulma-image {
  width: 200px;
}
.interests {
  display: flex;
  justify-content: center;
}
.socialMedia {
  margin-bottom: 20px !important;
  margin-top: 10px;
}

.summary-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
}

.skill-percentage {
float: right;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
}
/**

Button
**/
.btn{
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px;
  padding-right: 60px;
  padding-left: 60px;
  display: inline-block;
  margin: 15px 30px 15px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.icon-cart:before {
  color:#fff;
  content: '\1F618';
  font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.btn-5 {
	border: solid 2px #fff;
	color: #fff;
	height: 70px;
	min-width: 260px;
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.btn-5:active {
	background: #ffffff;
	top: 2px;
}

.btn-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn-5:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-5:active:before {
	color: #ffffff;
}

/* Button 5a */
.btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.btn-5a:before {
	left: 0;
	top: -100%;
}

.btn-5a:hover:before {
	top: 0;
}

